<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h1>Create new Problem</h1>
    </div>

    <div class="col-md-12">
      <%= render 'form', problem: @problem %>
    </div>
  </div>
</div>
