<footer>
  <nav class="navbar fixed-navbar navbar-toggleable-md navbar-light bg-faded">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item"><%= link_to '@BROnlineJudge', 'https://github.com/BROnlineJudge', class: 'nav-link' %></li>
    </ul>
  </nav>
</footer>
