<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h1>New Submission</h1>
    </div>

    <div class="col-md-12">
      <%= render 'form', submission: @submission %>
    </div>
  </div>
</div>
