// Place all the styles related to the Contests controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.contest td {
	width: 160px;
}

.baloon {
	min-width: 50px !important;
}

.main-content {
	min-height: 310px;
}
